/**
    表格单元格子展示
*/
.editable-cell-text-wrapper {
   /* display: flex; */
   min-width: 100px;
}

/**
    每个格子
*/
.editable-cell {
    /* background: red; */
}
 
/**
    文字内容
*/
.editable-cell-text-span {
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-width: 20px;
    max-width: 200px;
    /* font-size: 14px; */
    /* background: orange; */
    /*max-height: 100px;*/
}


.editable-cell-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editable-cell:hover .editable-cell-icon {
    /* display: inline-block; */
    cursor: pointer;
}

.editable-cell-value-wrap {
  padding: 5px 5px;
}

.ant-table-tbody > tr > td {
    padding: 16px 16px;
    word-break: break-word;
    /* background: red; */
}


/* .ant-table-thead > tr:first-child > th:first-child {
    border-top-left-radius: 4px;
    background: #F0F2F5;
} */

/**
    表头css
*/
.ant-table-thead > tr > th {
    background-color: #BDC0BF;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    text-align: center;
    color: rgba(0,0,0,.85);
    font-weight: 500;
    border-bottom: 1px solid #BDC0BF;
}

/**
    表第一列第一个
*/
.ant-table-thead > tr:first-child > th:first-child {
    border-top-left-radius: 0px;
}

.ant-table-tbody > tr:nth-child(even) {
    -webkit-transition: all .3s, height 0s;
    transition: all .3s, height 0s;
    background-color: #F4F4F4;
}

.ant-table-tbody > tr:nth-child(odd) {
    -webkit-transition: all .3s, height 0s;
    transition: all .3s, height 0s;
    background-color: #FFFFFF;
}

.ant-badge-status-dot {
    width: 9px;
    height: 9px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -1px;
}



